@import 'common-styles/_vars.scss';

.wrapper {
  margin: 20px auto 0 auto;
  max-width: 1000px;
  width: 100%;
}

.imgWrapper {
  min-height: 600px;
  position: relative;

  & > span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    color: white;
    z-index: 1;
  }

  & > img {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    position: relative;
    z-index: 2;
  }
}

.empty {
  margin-top: 50px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px $mainBlack;
  font-size: 24px;
}
